@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/Montserrat-Regular.ttf');
  }
  
  
  @font-face {
    font-family: "SloopScriptThree";
    src: url("../assets/sloop-script-three-beta-medium.ttf");
  }
  @font-face {
    font-family: "Garamond";
    src: url("../assets/garamond.otf");
  }
  